<nav class="bg-gray-700 text-white">
    <div class="container mx-auto px-4">
        <div class="flex items-center justify-between h-16">
            <div class="flex items-center">
                <a href="/" class="font-bold text-xl">Inventário</a>
                <div class="ml-10 flex items-baseline space-x-4">
                    <a href="/" class="px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700">Início</a>
                    <a href="/generator" class="px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700">Caixa</a>
                    <a href="/inventory" class="px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700">Estoque</a>
                    <a href="/order" class="px-3 py-2 rounded-md text-sm font-medium bg-green-700">Gerar pedido</a>
                </div>
            </div>
        </div>
    </div>
</nav>