<div class="max-w-2xl mx-auto">
    <form action="/inventory/<%= inventory._id %>?_method=PUT" method="POST"
        class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                Nome
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="name" type="text" name="name" required value="<%= inventory.name %>">
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="count">
                Quantidade
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="count" type="number" name="count" required value="<%= inventory.count %>">
        </div>


        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="countMin">
                Estoque Minima (deixe 0 para desativar)
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="countMin" type="number" name="countMin" required value="<%= inventory.countMin %>">
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="category">
                Metodo de Contagem
            </label>
            <select
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="control" name="control" required>
                <option value="un">UNIDADE</option>
                <option value="g">PESO</option>
                <option value="cx">CAIXA</option>
                <option value="fd">FARDO</option>
                <option value="pc">PACOTE</option>
                <option value="st">ESTADO</option>
            </select>
        </div>

        <div class="mb-4" id="controlStateEl" style="display: none;">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="category">
                ESTADO
            </label>
            <select
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="controlState" name="controlState" required>
                <option value="DISABLE"></option>
                <option value="REGULAR">REGULAR</option>
                <option value="BAIXO">BAIXO</option>
            </select>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="category">
                Categoria
            </label>
            <select
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="category" name="category" required>
                <option value=""></option>
                <option value="BEBIDAS" <% if(inventory.category==='BEBIDAS' ) { %> selected <% } %>>BEBIDAS</option>
                <option value="INSUMOS" <% if(inventory.category==='INSUMOS' ) { %> selected <% } %>>INSUMOS</option>
                <option value="PRODUTO DE LIMPEZA" <% if(inventory.category==='PRODUTO DE LIMPEZA' ) { %> selected <% }
                        %>>PRODUTO DE LIMPEZA</option>
                <option value="OUTROS" <% if(inventory.category==='OUTROS' ) { %> selected <% } %>>OUTROS</option>
            </select>
        </div>

        <div class="flex items-center justify-between">
            <button type="submit" class="text-indigo-600 hover:text-indigo-900"
                aria-label="Salvar produto">Salvar</button>
            <a href="/inventory" class="text-blue-500 hover:text-blue-800">Cancelar</a>
        </div>
    </form>
</div>

<script>
    document.getElementById('control').addEventListener('change', function () {
        if (this.value === 'st') {
            document.getElementById('controlStateEl').style.display = 'block';
        } else {
            document.getElementById('controlStateEl').style.display = 'none';
        }
    });
    document.getElementById('control').dispatchEvent(new Event('change'));
</script>