<div class="max-w-2xl mx-auto">
    <form action="/inventory" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" autocomplete="off">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                Nome
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="name" type="text" name="name" required>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="count">
                Quantidade
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="count" type="number" name="count" required>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="countMin">
                Estoque Minima (deixe 0 para desativar)
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="countMin" type="number" name="countMin" required>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="category">
                Metodo de Contagem
            </label>
            <select
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="control" name="control" required>
                <option value="g">PESO</option>
                <option value="un">UNIDADE</option>
                <option value="cx">CAIXA</option>
                <option value="fd">FARDO</option>
                <option value="st">ESTADO</option>
            </select>
        </div>

        <div class="mb-4" id="controlStateEl" style="display: none;">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="category">
                ESTADO
            </label>
            <select
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="controlState" name="controlState" required>
                <option value="REGULAR" selected>REGULAR</option>
                <option value="BAIXO">BAIXO</option>
            </select>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="category">
                Categoria
            </label>
            <select
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="category" name="category" required>
                <option value="BEBIDAS">BEBIDAS</option>
                <option value="INSUMOS">INSUMOS</option>
                <option value="ITENS COZINHA">ITENS DE COZINHA</option>
                <option value="PRODUTO DE LIMPEZA">PRODUTO DE LIMPEZA</option>
                <option value="OUTROS">OUTROS</option>
            </select>
        </div>

        <div class="flex items-center justify-between">
            <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">
                Salvar
            </button>
        </div>
    </form>
</div>
<script>
    document.getElementById('control').addEventListener('change', function () {
        if (this.value === 'st') {
            document.getElementById('controlStateEl').style.display = 'block';
        } else {
            document.getElementById('controlStateEl').style.display = 'none';
        }
    });
    document.getElementById('control').dispatchEvent(new Event('change'));
</script>